<div class="sidebar">
  <ul class="list-group">
    <li class="list-group-item step <%= 'active' if params[:action] == 'step1' %>" data-step="step1">
      <%= link_to "Step 1: Basic Details", step1_tests_path %>
    </li>
    <li class="list-group-item step <%= 'active' if params[:action] == 'step2' %>" data-step="step2">
      <%= link_to "Step 2: Additional Info", step2_tests_path %>
    </li>
    <li class="list-group-item step <%= 'active' if params[:action] == 'step3' %>" data-step="step3">
      <%= link_to "Step 3: added conclusion", step3_tests_path %>
    </li>
    <li class="list-group-item step <%= 'active' if params[:action] == 'step4' %>" data-step="step">
      <%= link_to "Step 4: Add questions", step4_tests_path %>
    </li>
    <li class="list-group-item step <%= 'active' if params[:action] == 'step5' %>" data-step="step">
      <%= link_to "Step 5: summary & grades", step5_tests_path %>
    </li>
  </ul>
</div>

<style>
  .sidebar {
    width: 30%;
    height: 100%;
    top: 22%;
    padding: 20px;
    position: fixed;
    left: -1%;
    background-color: #F1F5F8;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .steps {
    list-style: none;
    padding: 0;
  }

  .step {
    margin-bottom: 10px;
  }

  .step a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }

  .step a:hover {
    color: #0056b3;
  }

  .step.active a {
    color: black;
    background-color: #0F6DFC;
    padding: 5px 10px;
    border-radius: 5px;
  }
</style>
